*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
img{
    height:20px;
    width:20px;
}
.allpage{
    height:100%;
    width:100%;
    background-image:url("bg.jpg");
    background-color: linear-gradient(rgba(187, 185, 211, 0.4));
    background-position:center;
    background-size: cover;
    position:absolute;
}
.navbar{
    display:flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;

}
nav{
    flex: 1;
    text-align:right;

}
nav ul{
    display:inline-block;
    list-style:none;
}
nav ul li {
    display:inline-block;
    margin-right: 70px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
}
nav ul li button{
    font-size: 20px;
    color:white;
    outline:none;
    border:none;
    background:transparent;
    cursor:pointer;
    font-family: sans-serif;
}
nav ul li a:hover{
    color:aqua;
}
a{
    text-decoration: none;
    color: palevioletred;
    font-size: 28px;
}
#login-form{
   
}
.form-box{
    width:380px;
    height:480px;
    position:relative;
    margin:2% auto;
    background-colors:black;
    padding:10px;
    overflow:hidden;
}
.toggle-btn{
    padding:10px;
    cursor:pointer;
    background:transparent;
    border:0;
    outline:none;
    positon:relative;

}

#input-group-login{
    top:150px;
    position:absolute;
    width:280px;

}
.input-field{
    width:100%;
    padding:10px 0;
    margin:5px 0;
    border-left:0;
    border-top:0;
    border-right: 0;
    border-bottom:1px solid #999;
    outline:none;
    background:transparent;
    
}
.submit-btn{
    width:85%;
    padding:10px 30px;
    cursor:pointer;
    display:block;
    margin:60px;
    background:white;
    border:0;
    outline:none;
    border-radius: 30px;

    
    
}
.checkbox{
    margin:30px 10px 34px 0;
    border-radius:10px ;
    
}
span{
    color:white;
    fontsize:12px;
    bottom:68px;
    
}
#login{
    left:50px;
}










